@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
	font-family: Arial;
	background-color: lightgray;
	color: black;
	line-height: 1.6;
	text-align: center;
}

h2 {
    background-color: blue;
}
h1 {
    color: darksalmon;
  }

#chart {
    display: inline-block;
}



.emojii {
    margin: 20px 0;
    font-size: 50px;
}


#chartTwo {
    margin-top: 20px;
 
}

#chartThree {
    margin-top: 20px;
 
}

#tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 80px;
    height: 100px;
    background: white;
  
    font-size: 10px;
}

#tooltipTwo {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 80px;
    height: 70px;
    background: white;
  
    font-size: 10px;
}

