@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
	font-family: Arial;
	background-color: darkgray;
	color: #fff;
	line-height: 1.6;
	text-align: center;
}

h2 {
    background-color: blue;
}
h1 {
    color: pink;
  }

#chart {
    display: inline-block;
}

.bar {
    fill: steelblue;
}

.emojii {
    margin: 20px 0;
    font-size: 50px;
}

#nextButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#chartTwo {
    margin-top: 20px;
}